<div *ngIf="tokenValid" class="container">
	<div class="d-flex justify-content-center align-items-center login-block row no-gutters">
		<div class="flex-column col-12 col-sm-9 col-lg-6">
			<div class="card text-center">
				<h3 class="mb-2 header-block p-3 text-white">Thank you for your registration</h3>
				<div class="card-block">
					<p>Thank you for registering with Appstract.</p>
					<p>Your account needs to be activated by the administrator. You will receive a confirmation email soon.</p>
				</div>
			</div>
			<button routerLink="/login" class="btn btn-link mt-3">Back to Login</button>
		</div>
	</div>
</div>
