<nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainnav">
	<!--<a class="navbar-brand" routerLink="/home">logo</a>-->
</nav>
<div class="container">
	<div class="d-flex justify-content-center align-items-center login-block row no-gutters">
		<div class="flex-column col-12 col-sm-9 col-lg-6">
			<div class="card" [class.pending]="pending" *ngIf="!passwordRecovery && !passwordReset">
				<h3 class="mb-2 header-block p-3 text-white">Welcome to {{ localName }}</h3>
				<div class="card-block">
					<form [formGroup]="loginForm" (submit)="submit($event)">
						<app-form-field [form]="loginForm" field="email">
							<div class="form-group">
								<label class="text-left w-100" for="email">Email</label>
								<input type="text" class="form-control" formControlName="email" id="email">
							</div>
						</app-form-field>
						<!-- <app-form-field [form]="loginForm" field="username">
							<div class="form-group">
								<label class="text-left w-100" for="username">Username</label>
								<input type="text" class="form-control" formControlName="username" id="username">
							</div>
						</app-form-field> -->

						<div class="form-group">
							<label class="text-left w-100" for="password">{{'login.loginPage.password' | translate}}</label>
							<input type="password" class="form-control" id="password" formControlName="password">
						</div>
						<div class="d-flex justify-content-center">
							<button class="btn btn-primary  btn-lg" [disabled]="loginForm.invalid">{{'login.login' | translate}}
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="card" [class.pending]="pending" *ngIf="passwordRecovery && !passwordReset">
				<h3 class="mb-2 header-block p-3 text-white">{{'login.recoveryPasswordPage.title' | translate}}</h3>

				<div class="card-block">
					<form [formGroup]="passwordRecoveryForm" (submit)="submitRecovery($event)">
						<app-form-field [form]="passwordRecoveryForm" field="email">
							<div class="form-group">
								<label for="username2" class="text-left w-100">{{'login.recoveryPasswordPage.email' | translate}}</label>
								<input type="text" class="form-control" formControlName="email" id="username2">
							</div>
						</app-form-field>
						<div class="d-flex justify-content-center">
							<button class="btn btn-primary  btn-lg" [disabled]="passwordRecoveryForm.invalid">{{'login.recoveryPasswordPage.submit'
								| translate}}
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="card text-center" [class.pending]="pending" *ngIf="passwordReset && !passwordRecovery">
				<h3 class="mb-2 header-block p-3 text-white">{{'login.setNewPasswordPage.title' | translate}}</h3>
				<div class="card-block">
					<form [formGroup]="resetForm" (submit)="submitReset($event)">
						<app-form-field [form]="resetForm" [serverErrors]="serverErrors" field="newPassword">
							<div class="form-group">
								<label for="newPassword" class="text-left w-100">New Password</label>
								<input type="password" class="form-control" formControlName="newPassword" id="newPassword" autocomplete="new-password">
							</div>
						</app-form-field>
						<app-form-field [form]="resetForm" field="confirmPassword">
							<div class="form-group">
								<label for="confirmPassword" class="text-left w-100">Confirm password</label>
								<input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" autocomplete="confirm-password">
							</div>
						</app-form-field>

						<button class="btn btn-primary  btn-lg" [disabled]="resetForm.invalid">{{'login.setNewPasswordPage.submit'
							| translate}}
						</button>
					</form>
				</div>
			</div>
			<div class="card mt-3 text-white bg-danger" *ngIf="loginError">
				<div class="card-block text-center">
					{{ loginError | translate }}
				</div>
			</div>
			<div class="d-flex flex-column flex-sm-row justify-content-sm-between mt-3">
				<button routerLink="/register" *ngIf="!passwordRecovery && !passwordReset" class="btn btn-link text-underline">Register
					as Abstractor</button>
				<button class="btn btn-link" *ngIf="!passwordRecovery && !passwordReset" (click)="passwordRecovery = true; loginError = null">{{
					'general.forgotPassword' |
					translate }}</button>
				<button class="btn btn-link" *ngIf="passwordRecovery" (click)="passwordRecovery = false; loginError = null">{{
					'general.goBackToLogin' | translate }}</button>
				<button class="btn btn-link" *ngIf="passwordReset" routerLink="/login">{{ 'general.goBackToLogin' | translate }}</button>


			</div>
		</div>
	</div>
