<header class="page-header pt-2 pb-4 text-center">
	<h1>Datepicker</h1>
</header>

<div class="card mb-5" #case1>
	<div class="card-block">
		<h3 class="my-3">Simple datepicker</h3>
		<app-datepicker-basic></app-datepicker-basic>
	</div>
</div>

<div class="card my-5" #case2>
	<div class="card-block">
		<h3 class="my-3">Datepicker in a popup</h3>
		<app-datepicker-popup></app-datepicker-popup>
	</div>
</div>

<div class="card my-5">
	<div class="card-block">
		<h3 class="my-3">Multiple months</h3>
		<app-datepicker-multiple></app-datepicker-multiple>
	</div>
</div>

<div class="card my-5">
	<div class="card-block">
		<h3 class="my-3">Example of the range selection</h3>
		<app-datepicker-range-demo></app-datepicker-range-demo>
	</div>
</div>

<div class="card my-5">
	<div class="card-block">
		<h3 class="my-3">Custom adapters</h3>
		<app-datepicker-adapter></app-datepicker-adapter>
	</div>
</div>

<div class="card my-5">
	<div class="card-block">
		<h3 class="my-3">Custom template</h3>
		<app-datepicker-customday></app-datepicker-customday>
	</div>
</div>

<div class="card my-5">
	<div class="card-block">
		<h3 class="my-3">i18n</h3>
		<!--<app-datepicker-i18n></app-datepicker-i18n>-->
	</div>
</div>

<div class="card my-5">
	<div class="card-block">
		<h3 class="my-3">Global config</h3>
		<div class="alert alert-dark">This case is commented in sources - uncommenting this will affect all datepicker demos</div>
		<app-datepicker-config></app-datepicker-config>
	</div>
</div>

<!--<div class="card my-5">-->
	<!--<div class="card-block">-->
		<!--<h3 class="my-3">Global config</h3>-->
		<!--<p>This datepicker uses customized default values.</p>-->

		<!--<ngb-datepicker [(ngModel)]="model3"></ngb-datepicker>-->
	<!--</div>-->
<!--</div>-->
