<div class="main-wrap d-flex flex-column h-100">
	<div class="header-block" *ngIf="inOrderAcceptance || inOrderAcceptance === 0">
		<div class="container h-100 mt-3 row mx-auto text-center align-items-center mb-3">
			<div class="col-6 col-md p-0">
				<div class="text-uppercase small">In order acceptance</div>
				<div class="h1 mb-0">{{inOrderAcceptance || 0}}</div>
			</div>
			<div class="col-6 col-md p-0">
				<div class="text-uppercase small">In title processing</div>
				<div class="h1 mb-0">{{inTitleProcessing || 0}}</div>
			</div>
			<div class="col-6 col-md p-0">
				<div class="text-uppercase small">In closing prep</div>
				<div class="h1 mb-0">{{inClosingPrep || 0}}</div>
			</div>
			<div class="col-6 col-md p-0">
				<div class="text-uppercase small">In post-closing</div>
				<div class="h1 mb-0">{{inPostClosing || 0}}</div>
			</div>
		</div>
	</div>
	<div class="container flex-grow-1 d-flex flex-column">
		<section class="d-md-flex align-items-center">
			<ul class="tab-links text-nowrap d-flex flex-grow-1 justify-content-sm-around justify-content-md-start p-0 mb-0 list-unstyled">
				<li (click)="changeCurrentTab('open')" [class.active]="orders && currentTab === 'open'" class="text-uppercase small my-3 py-2 mx-2 mx-md-3 text-secondary cursor-pointer">Open</li>
				<li (click)="changeCurrentTab('closed')" [class.active]="orders && currentTab === 'closed'" class="text-uppercase small my-3 py-2 mx-2 mx-md-3 text-secondary cursor-pointer">Closed</li>
				<li (click)="changeCurrentTab('cancelled')" [class.active]="orders && currentTab === 'cancelled'" class="text-uppercase small my-3 py-2 mx-2 mx-md-3 text-secondary cursor-pointer">Cancelled</li>
				<li *ngIf="user.role === 'ABSTRACTOR'" (click)="changeCurrentTab('declined')" [class.active]="orders && currentTab === 'declined'" class="text-uppercase small my-3 py-2 mx-2 mx-md-3 text-secondary cursor-pointer">Declined</li>
				<li (click)="changeCurrentTab('all')" [class.active]="orders && currentTab === 'all'" class="text-uppercase small my-3 py-2 mx-2 mx-md-3 text-secondary cursor-pointer">All</li>
				<li class="cursor-pointer mr-2 ml-auto d-md-none d-flex align-items-center"><fa-icon class="text-secondary cursor-pointer d-flex align-items-center" (click)="toggleSearch()" [icon]="faSearch"></fa-icon></li>
			</ul>

			<div [class.d-none]="!showSearch" class="ml-auto mb-3 mb-md-0 d-none d-md-block">
				<div class="d-flex input-group input-group-sm bg-lightGray align-items-center text-nowrap">
					<fa-icon class="ml-2 mr-1 d-none d-md-block text-secondary cursor-pointer" (click)="filter({search: search})" [icon]="faSearch"></fa-icon>
					<input type="text" class="flex-fill text-secondary border-0 px-3 py-2 px-md-2 small bg-transparent outline-0" placeholder="Search"
					 [(ngModel)]="search" (keydown)="filter({search: search}, $event)">
					 <button (click)="filter({search: search})" class="btn d-md-none btn-primary"><fa-icon class="text-white" [icon]="faSearch"></fa-icon></button>
				</div>
			</div>
		</section>
		<section class="content flex-grow-1 d-flex flex-column">
			<ng-container *ngIf="!showOrders">
				<div class="flex-grow-1 mb-5 shadow bg-white d-flex align-items-center justify-content-center text-center">
					<div class="p-3">
						<div class="font-weight-bold">You do not have any orders.</div>
						<div>Import from Qualia to see your orders</div>
					</div>

				</div>

			</ng-container>
			<div class="" *ngIf="orders?.content?.length">
				<ngx-datatable [scrollbarH]="scrollBarHorizontal"  class="appstract  mb-3 bg-white" [rows]="orders.content" [columns]="tableColumns"
				 columnMode="force" [footerHeight]="40" selectionType="row" [rowClass]="user.role === 'ABSTRACTOR' ? getRowClass : ''" [selected]="selected" (select)="openDetails($event)" [externalSorting]="true" (sort)="onSort($event)">
				 <ngx-datatable-footer>
					<ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
					 let-curPage="curPage" let-offset="offset">
						<div class="d-flex h-100 justify-content-between w-100 pl-md-3">
							<div class="d-flex align-items-center">
								<div class="border-right d-md-flex align-items-center h-100">
									<div class="d-none d-md-block">Items per page: </div>
									<ng-select class="footer-select" [items]="options.sizes" bindLabel="label" [clearable]="false" placeholder="10"
									 [searchable]="false" (change)="getOrders(true)" [(ngModel)]="size">
									</ng-select>
								</div>
								<div class="ml-2 text-nowrap">{{size.value * page - size.value + 1}}-{{orders.last ? totalElements :
									(size.value * page)}}
									of {{totalElements}} items</div>
							</div>
							<div class="d-flex align-items-center h-100">
								<div class="d-none d-md-block mr-3">
									{{page}} of {{totalPages || 1}} pages
								</div>
								<div class="d-flex align-items-center h-100">
									<button [disabled]="page <= 1" (click)="setPage('prev')" class="pagination-btn left">
										<fa-icon class="" [icon]="faAngleLeft"></fa-icon>
									</button>
									<ng-select class="footer-select" [clearable]="false" placeholder="10" [searchable]="false" (change)="getOrders()"
									 [(ngModel)]="page">
										<ng-option *ngFor="let i of pages" [value]="i">{{i}}</ng-option>
									</ng-select>
									<button [disabled]="page >= totalPages" (click)="setPage('next')" class="pagination-btn right">
										<fa-icon class="" [icon]="faAngleRight"></fa-icon>
									</button>
								</div>
							</div>
						</div>
					</ng-template>
				</ngx-datatable-footer>
				</ngx-datatable>
			</div>
			<ng-template #statusColumn let-row="row" let-value="value">
				<span [ngClass]="{'text-blue': row.status === 'SUBMITTED', 'text-danger': row.status === 'PENDING', 'text-success': row.status === 'OPEN', 'text-primary': row.status === 'COMPLETED'}">
					{{row.status | titlecase}}
				</span>
			</ng-template>
			<ng-template #buttonsColumn let-row="row" let-value="value">
				<fa-icon class="" [icon]="faEllipsisH"></fa-icon>
			</ng-template>

			<ng-template #priceColumn let-row="row" let-value="value">
				${{row.quotedPrice | number: '1.2'}}
			</ng-template>
		</section>
	</div>


</div>
