@import "../../../../_styles/variables";
@import '~bootstrap/scss/bootstrap-grid';

:host {
	display: flex;
	flex-direction: column;
	flex: 1
}

.header {
	background-color: $secondary;
	display: flex;
	color: $white;

	h3 {
		font-weight: 500;

		@include media-breakpoint-down(md) {
			font-size: 1.2rem;
		}
	}
}

.conversation-block {
	max-height: 500px;
	overflow-x: hidden;


	// @include media-breakpoint-down(md) {
	// 	max-height: unset;
	// }
}

textarea {
	background-color: $white;
	border: 0;
	outline: 0;

	@include media-breakpoint-down(sm) {
		max-height: 40px;
		font-size: 0.85rem;
	}

}

@include media-breakpoint-down(sm) {
	.submit-btn {
		font-size: 0.9rem;
	}
}
