$white: #fff;
$gray: #6e7b83;
$bgBlue: #eef4fc;
$lightBlue: #5aaafa;
$blue: #3d70b2;
$darkBlue: #3b5e8e;
$navyBlue: #152935;
$black: #1c252a;
$pink: #ff005c;
$red: #EE7571;
$gray: #eff2f6;
$lightGray: #e2e7ed;
$darkGray: #8f8f8f;
$darkerGray: #1c252a;
$green: #16C832;
$yellow: #F8D69D;
$purple: #6f42c1;

$gray-100: #f4f4f4;
$primary-color: $blue;
$primary-color-hover: $darkBlue;
$secondary-color: $navyBlue;

$text-color: $secondary-color;

$primary: $primary-color;
$primary-hover: $primary-color-hover;
$secondary: $secondary-color;

$card-border-radius: 12px;
$card-border-width: 0;
$headings-font-weight: 400;
$btn-focus-box-shadow: 0 0 0 3px rgba($pink, .25);
//$input-focus-box-shadow: 0 0 0 3px rgba($pink, .25);
//$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;

